body {
    background: turquoise;
}
.header_div {
    background: royalblue;
    color: silver;
    font-family: 'Anton', sans-serif;
}
.header_div img {
    width: 100px;
}
.main_div {
    background: springgreen;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid steelblue;
}
.main_div label {
    background: paleturquoise;
    width: 300px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}
#camera, #result {
    border: 5px solid white;
    border-radius: 15%;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}
.main_div button {
    width: 300px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid blue;
}
.footer_div img {
    width: 100px;
}
.footer_div h4 {
    background: #6e32e6;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}
.footer_div {
    margin-bottom: 50px;
    margin-left: 375px;
}
.copyright_footer {
    position: fixed;
    color: greenyellow;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    line-height: 3;
    text-align: center;
}